@import "tailwindcss";

@theme {
  --color-background: "#FFFFFF";
  --color-card: "#F7F8FA";
  --color-border: "#E5E7EB";

  --font-inter: "Inter";

  /* primary color */
  --color-primary-50: #eef7fc;
  --color-primary-100: #ebf6fb;
  --color-primary-200: #d8edf7;
  --color-primary-300: #c4e4f3;
  --color-primary-400: #b1dbef;
  --color-primary-500: #3da5d9;
  --color-primary-600: #3694c3;
  --color-primary-700: #3084ad;
  --color-primary-800: #2a7397;
  --color-primary-900: #246382;

  /* warning color */
  --color-warning-50: #fff9e5;
  --color-warning-100: #fff2b8;
  --color-warning-200: #ffe88a;
  --color-warning-300: #ffde5c;
  --color-warning-400: #ffd52e;
  --color-warning-500: #fec601;
  --color-warning-600: #e6b500;
  --color-warning-700: #cca400;
  --color-warning-800: #b39300;
  --color-warning-900: #998200;
}

@layer base {
  body {
    @apply bg-primary-50 font-inter;
  }
}

@layer components {
  .container {
    @apply max-w-100 xl:max-w-480 lg:max-w-270 md:max-w-180 mx-auto px-10;
  }
}

@layer utilities {
  /* Display XL — 48px / 56px */
  .display-xl-medium {
    @apply text-5xl leading-14 font-medium;
  }

  /* Display L — 40px / 48px */
  .display-l-medium {
    @apply text-[2.5rem] leading-12 font-medium;
  }

  /* Heading 1 — 32px / 40px */
  .heading-1-medium {
    @apply text-[2] leading-10 font-medium;
  }

  /* Heading 2 — 24px / 32px */
  .heading-2-medium {
    @apply text-[1.5rem] leading-8 font-medium;
  }

  /* Heading 3 — 20px / 28px */
  .heading-3-medium {
    @apply text-[1.25rem] leading-7 font-medium;
  }

  /* Body L — 18px / 28px */
  .body-l-regular {
    @apply text-[1.125rem] leading-7 font-normal;
  }

  /* Body M — 16px / 24px */
  .body-m-regular {
    @apply text-[1rem] leading-6 font-normal;
  }

  /* Body S — 14px / 20px */
  .body-s-regular {
    @apply text-[0.875rem] leading-5 font-normal;
  }

  /* Caption — 12px / 16px */
  .caption-regular {
    @apply text-[0.75rem] leading-4 font-normal;
  }

  /* Micro — 11px / 14px */
  .micro-regular {
    @apply text-[0.6875rem] leading-4.5 font-normal;
  }
}
